*
{
    margin: 0;
    padding: 0;
}

html, body
{
    background-color: #10163b;
    color: #3876c7;
    margin: 0;
    padding: 0;
    height: 100%;
}
h1
{
    color: #3876c7;
    text-decoration-line: none;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
h2
{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
p
{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.center
{
    text-align: center;
}
.center img
{
    width:15vw;
    height:auto;
}
.game-iframe
{
    border: none;
    display: flex;
    width: 50%;
    height: 75%;
    margin-left: 25%;
    border-radius: 2.5vw;
}
button#fullscreen-btn
{
    width: 10vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-width: 0;
    padding:1.5vw;
    margin-left: 62.5%;
}
img.fullscreenBtn
{
    padding: 2.5%;
    width: 10vw;
    height: 2.5vw;
}
.top-nav
{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #1a2150;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    background-color: #6031b6;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8b5ce4;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #270e57;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #7a4ccf;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover button {
    background-color: #451f8b;
}
div.games
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 75vw;
    margin: 5vh auto;
}
div.games img
{
    margin:1vw;
    width:10vw;
    height:10vw;
    border-radius: 1.25vw;
}